# Vars only for local env development and testing.

# client
#export FOLDER=client

# api_server
export FOLDER=api_server
export SERV_KEY=test
export DB_NAME=postgres
export DB_SCHEMA=public
export DB_USER=root
export DB_PASSWORD=root
export DB_PORT=5432

export DB_HOST=localhost    # for local run
# If you run the api-server with Docker uncomment this next var
#export DB_HOST=host.docker.internal     # for Docker run
