Django==5.0.6
djangorestframework==3.15.2
psycopg2-binary==2.9.9
tzdata==2024.1
djangorestframework-simplejwt==5.3.1
gunicorn==22.0.0
django-health-check==3.18.2
whitenoise==6.6.0
drf-spectacular==0.27.2
django-nose==1.4.7
pynose==1.5.1
