Django==5.1.4
djangorestframework==3.14.0
psycopg2-binary==2.9.10
tzdata==2024.1
djangorestframework-simplejwt==5.3.1
gunicorn==23.0.0
django-health-check==3.18.3
whitenoise==6.7.0
drf-spectacular==0.28.0
django-nose==1.4.7
pynose==1.5.3
